{% extends "admin/base_site.html" %}  

{% load static %}

{% block extrahead %}
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" />  
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">
    {% if request.session.font_italic == 'true' %}
        <link href="{% static 'css/font-webtooth-italic.css' %}" rel="stylesheet" />
    {% else %}
        <link href="{% static 'css/font-webtooth-nunito.css' %}" rel="stylesheet" />
    {% endif %}
{% endblock %}

{% block extrastyle %}
<style>
{% if request.session.ad_color %}
.module h2, .module caption, .inline-group h2, #header
{   
    font-size: 13px;
    text-align: left;
    background: {{ request.session.ad_color }};
    color: #fff;
}

#user-tools {
    font-size: 14px;
}


#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: white;
}

div.breadcrumbs {
    background: {{ request.session.ad_color }};
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #fff;
    text-align: left;
}

.object-tools a:link, .object-tools a:visited {
    background: {{ request.session.ad_color }};
}

.dashboard .module table th {
    font-size: 14px;
}
.dashboard .module table td a {
    font-size: 14px;
}

td, th {
 font-size: 14px;   
 font-family: webtooth,Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.selector-chosen h2 {
    background: {{ request.session.ad_color }} !important;
}

#user-tools{
	text-align: center;
}

.topnav a {
  padding: 10px 5px;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button{
    background: {{ request.session.ad_color }} !important;
    border-radius:10rem;
}

.module h2, .module caption, .inline-group h2, #header {
    background: {{ request.session.ad_color }};
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: {{ request.session.ad_color }};
    border-radius:10rem;
}

.object-tools a:link, .object-tools a:visited {
    background: {{ request.session.ad_color }};
}

.button.default, input[type=submit].default, .submit-row input.default {
    background: {{ request.session.ad_color }};
    border-radius:10rem;
}

.submit-row a.closelink {
    background: {{ request.session.ad_color }} !important;
}

#changelist #toolbar form input[type="submit"] {
    color: white !important;
}

#changelist .actions .button {
    color: white !important;
}
{% endif %}
.submit-row a.deletelink {
    border-radius:10rem !important;
}

body.login{
    background-color:darkgray !important;
}

.login #container{
    border:0px !important;
    margin:220px auto !important;
}
</style>
{% endblock %}

{% block welcome-msg %}
<nav class="nav justify-content-center">
	<strong>Bienvenido: {% firstof user.get_full_name user.get_username %}</strong>
</nav>
{% endblock %}

{% block userlinks %}
<div class="topnav">
<nav class="nav justify-content-end">
	<a class="nav-link" href="{% url 'home' %}">Webtooth</a><i class="fas fa-tooth"></i> /
	<a class="nav-link" href="{% url 'admin:password_change' %}">Cambiar contraseña</a><i class="fas fa-key fa-sm fa-fw mr-2"></i> /
	<a class="nav-link" href="/admin/logout/?next=/">Terminar sesión</a><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
</nav>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}


{% block branding %}
    <h1 id="site-name">
        <div class="sidebar-brand-text mx-3">
            <a href="{% url 'home' %}">Webtooth </a><i class="fas fa-tooth"></i><sup></sup>
        </div>
    </h1>
{% endblock %}

