# install version min > python 3.8.3
# install version min > posgtres 10.16

# 1.- > pip install -r requirements.txt
Django==2.2.3
django-bootstrap4==2.2.0
django-stronghold==0.4.0
psycopg2==2.8.5
pandas==1.2.0
xlrd==1.2.0
APScheduler==3.6.3
django-cors-middleware==1.5.0
Pillow==7.2.0
gunicorn==20.1.0
whitenoise==5.2.0

# 1.-> python manage.py makemigrations --settings=webtooth.settings.development
# 2.-> python manage.py migrate --settings=webtooth.settings.development
# 3.-> python manage.py createsuperuser --settings=webtooth.settings.development
# 4.-> python manage.py collectstatic --settings=webtooth.settings.development

# 1.-> python manage.py makemigrations --settings=webtooth.settings.production 
# 2.-> python manage.py migrate --settings=webtooth.settings.production 
# 3.-> python manage.py createsuperuser --settings=webtooth.settings.production 
# 4.-> python manage.py collectstatic --settings=webtooth.settings.production

# 5.- python manage.py runserver --settings=webtooth.settings.development
# 6.- python manage.py runserver --settings=webtooth.settings.production