@font-face {
    font-family: 'webtooth';
    src: url('../font/Ubuntu-Italic.ttf');
}
body {
    font-family: webtooth !important;
    font-size: 1em;
}
a, input{
    font-family: webtooth !important;
}