{% extends "extends.html" %}

{% block title %} Historial de navegación {%endblock%}
{% block titlepage %}  {%endblock%}



{% block report %}
	{% if listaNavegacion %}
	<div>
		<a style="border-radius: 10rem;" href="#" id="ReportePrintNavigation" class="d-none d-sm-inline-block btn btn-sm btn-{{request.session.bt_color}} shadow-sm"><i class="fas fa-print"></i> Imprimir reporte</a>

		<a style="border-radius: 10rem;" href="#" id="ReporteExcelNavigation" class="d-none d-sm-inline-block btn btn-sm btn-{{request.session.bt_color}} shadow-sm"><i class="fas fa-file-excel"></i> Exportar a Excel</a>

		<a style="border-radius: 10rem;" href="#" id="ReportePdfNavigation" class="d-none d-sm-inline-block btn btn-sm btn-{{request.session.bt_color}} shadow-sm"><i class="fas fa-file-pdf"></i> Exportar a PDF</a>
	</div>
	{% endif %}
{% endblock %}


{% block body %} 

{% if listaNavegacion %}

	<div class="card shadow mb-4">
	<div class="card-header py-3 bg-gray-200">
	  <h6 class="m-0 font-weight-bold text-{{request.session.bt_color}}">    
	  	<div class="col-sm-12"><center>Historial de navegación</center></div>
       </h6>
	</div>
	<div class="card-body border-bottom-{{request.session.bt_color}} bg-gray-200">
	  <div class="table-responsive">
	    <table class="table table-striped table-hover webtooth" id="dataTableNavigation" width="100%" cellspacing="0">
	      <thead class="bg-gradient-light">
	        <tr>
	          <th>Usuario</th>
	          <th>Host</th>
	          <th>Url</th>
	          <th>M&eacute;todo</th>
			  <th>Estado</th>
			  <th>Fecha</th>
	        </tr>
	      </thead>
	      <tfoot>
	      </tfoot>
	      <tbody>
	      	{% for nav in listaNavegacion %}
	        <tr>
	          <td style="width: 240px;">{{nav.userName|title}}</td>
	          <td style="text-align: center;">{{nav.host}}</td>
	          <td>{{nav.path}}</td>
	          <td style="width: 150px;text-align: center;">{{nav.method}}</td>
			  <td style="width: 150px;text-align: center;">
				{% if nav.status == 200 %}
				<span class="btn btn-success" style="font-size: 10px;"> {{nav.status}} </span>
				{% elif nav.status == 500 %}
				<span class="btn btn-danger" style="font-size: 10px;"> {{nav.status}} </span>
				{% else %}
				<span class="btn btn-warning" style="font-size: 10px;"> {{nav.status}} </span>
				{% endif %}
			  </td>
			  <td style="width: 200px;text-align: center;">{{nav.eventTime}}</td>
	        </tr>
	        {% endfor %}
	      </tbody>
	    </table>
	  </div>
	</div>
	</div>

{% else %}
<div class="card-header py-3">
	<h6 style="text-align: center;" class="m-0 font-weight-bold text-{{request.session.bt_color}}"> <i class="fas fa-info-circle"></i> No hay ningún registro en la base de datos actual</h6>
</div>
</br>
<div class="col-sm-2" style="margin: 0 auto;">
	<a class="btn btn-{{request.session.bt_color}} btn-user btn-block" href="{% url 'home' %}" role="button"><i
			class="fa fa-arrow-left"></i> Regresar</a>
</div>
{% endif %}


{% endblock %}

