{% load static %}

<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>

<script src="{% static 'js/buttons.print.min.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/jszip.min.js' %}"></script>
<script src="{% static 'js/buttons.html5.min.js' %}"></script>
<script src="{% static 'js/pdfmake.min.js' %}"></script>
<script src="{% static 'js/vfs_fonts.js' %}"></script>

<link href="{% static 'css/table.css' %}" rel="stylesheet">

<script type="text/javascript">
	$(document).ready(function() {
	 /*Para pacientes*/
	 tablePatient = $('#dataTablePatient').DataTable({
	  		"language": {
    			"url": "{% static 'json/spanish.json' %}"
			},
			"lengthMenu": [7, 14, 20, 25],
			"aaSorting": [],
        	buttons: [{
					extend : 'excelHtml5',
					title: 'Listado de pacientes al día {% now "DATE_FORMAT" %}',
					exportOptions: {
						columns: [0, 1, 2, 3, 4, 5, 7, 8]
					}
				},
            	{
					extend: 'pdfHtml5',
					title: 'Listado de pacientes al día {% now "DATE_FORMAT" %}',
					orientation: 'landscape',
					pageSize: 'LETTER',
					download: 'open',
					customize: function (doc) {
						doc.content[1].margin = [20, 0, 10, 0] //left, top, right, bottom
					},
					exportOptions: {
						columns: [0, 1, 2, 3, 4, 5, 7, 8]
					}
				},{
					extend: 'print',
					title: 'Listado de pacientes al día {% now "DATE_FORMAT" %}',
					exportOptions: {
						columns: [0, 1, 2, 3, 4, 5, 7, 8]
					}
				}]
	  });

		$('#dataTablePatient tbody').on('click', 'tr', function () {
			numpatient = tablePatient.row(this).data()[9];
			console.log(numpatient)
		});

		$("#ReporteExcel").on("click", function() {
    		tablePatient.button( '.buttons-excel' ).trigger();
		});
		$("#ReportePdf").on("click", function() {
    		tablePatient.button( '.buttons-pdf' ).trigger();
		});
		$("#ReportePrint").on("click", function() {
    		tablePatient.button( '.buttons-print' ).trigger();
		});

		/*Para direcciones*/
		tableAdress = $('#dataTableAdress').DataTable({
			"language": {
				"url": "{% static 'json/spanish.json' %}"
			},
			"lengthMenu": [7, 14, 20, 25],
			"aaSorting": [],
			buttons: [{
				extend: 'excelHtml5',
				title: 'Listado de direcciones al día {% now "DATE_FORMAT" %}',
				exportOptions: {
					columns: [0, 1, 2, 3, 4, 5, 6, 7]
				}
			},
			{
				extend: 'pdfHtml5',
				title: 'Listado de direcciones al día {% now "DATE_FORMAT" %}',
				orientation: 'landscape',
				pageSize: 'LETTER',
				download: 'open',
				customize: function (doc) {
					doc.content[1].margin = [30, 0, 10, 0] //left, top, right, bottom
				},
				exportOptions: {
					columns: [0, 1, 2, 3, 4, 5, 6, 7]
				}
			}, {
				extend: 'print',
				title: 'Listado de direcciones al día {% now "DATE_FORMAT" %}',
				exportOptions: {
					columns: [0, 1, 2, 3, 4, 5, 6, 7]
				}
			}]
		});
		$("#ReporteExcelAdress").on("click", function () {
			tableAdress.button('.buttons-excel').trigger();
		});
		$("#ReportePdfAdress").on("click", function () {
			tableAdress.button('.buttons-pdf').trigger();
		});
		$("#ReportePrintAdress").on("click", function () {
			tableAdress.button('.buttons-print').trigger();
		});

		/*Para archivos*/
		tableFile = $('#dataTableFile').DataTable({
			"language": {
				"url": "{% static 'json/spanish.json' %}"
			},
			"lengthMenu": [7, 14, 20, 25],
			"aaSorting": [],
			buttons: [{
				extend: 'excelHtml5',
				title: 'Listado de archivos al día {% now "DATE_FORMAT" %}',
				exportOptions: {
					columns: [0, 1, 2]
				}
			},
			{
				extend: 'pdfHtml5',
				title: 'Listado de archivos al día {% now "DATE_FORMAT" %}',
				orientation: 'portrait',
				pageSize: 'LETTER',
				download: 'open',
				customize: function (doc) {
					doc.content[1].margin = [100, 0, 10, 0] //left, top, right, bottom
				},
				exportOptions: {
					columns: [0, 1, 2]
				}
			}, {
				extend: 'print',
				title: 'Listado de archivos al día {% now "DATE_FORMAT" %}',
				exportOptions: {
					columns: [0, 1, 2]
				}
			}]
		});
		$("#ReporteExcelFile").on("click", function () {
			tableFile.button('.buttons-excel').trigger();
		});
		$("#ReportePdfFile").on("click", function () {
			tableFile.button('.buttons-pdf').trigger();
		});
		$("#ReportePrintFile").on("click", function () {
			tableFile.button('.buttons-print').trigger();
		});

		/*Para navigation*/
		tableNavigation = $('#dataTableNavigation').DataTable({
			"language": {
				"url": "{% static 'json/spanish.json' %}"
			},
			"lengthMenu": [7,14,20,25],
			"aaSorting": [],
			buttons: [{
				extend: 'excelHtml5',
				title: 'Listado de navegación al día {% now "DATE_FORMAT" %}',
				exportOptions: {
					columns: [0, 1, 2, 3, 4, 5]
				}
			},
			{
				extend: 'pdfHtml5',
				title: 'Listado de navegación al día {% now "DATE_FORMAT" %}',
				orientation: 'landscape',
				pageSize: 'LETTER',
				download: 'open',
				customize: function (doc) {
					doc.content[1].margin = [100, 0, 10, 0] //left, top, right, bottom
				},
				exportOptions: {
					columns: [0, 1, 2, 3, 4, 5]
				}
			}, {
				extend: 'print',
				title: 'Listado de navegación al día {% now "DATE_FORMAT" %}',
				exportOptions: {
					columns: [0, 1, 2, 3, 4, 5]
				}
			}]
		});
		$("#ReporteExcelNavigation").on("click", function () {
			tableNavigation.button('.buttons-excel').trigger();
		});
		$("#ReportePdfNavigation").on("click", function () {
			tableNavigation.button('.buttons-pdf').trigger();
		});
		$("#ReportePrintNavigation").on("click", function () {
			tableNavigation.button('.buttons-print').trigger();
		});


		/*Para import*/
		tableImport = $('#dataTableImport').DataTable({
			"language": {
				"url": "{% static 'json/spanish.json' %}"
			},
			"lengthMenu": [7, 14, 20, 25],
			"aaSorting": [],
			buttons: [{
				extend: 'excelHtml5',
				title: 'Listado de importación al día {% now "DATE_FORMAT" %}',
				exportOptions: {
					columns: [0, 1, 2]
				}
			},
			{
				extend: 'pdfHtml5',
				title: 'Listado de importación al día {% now "DATE_FORMAT" %}',
				orientation: 'landscape',
				pageSize: 'LETTER',
				download: 'open',
				customize: function (doc) {
					doc.content[1].margin = [100, 0, 10, 0] //left, top, right, bottom
				},
				exportOptions: {
					columns: [0, 1, 2]
				}
			}, {
				extend: 'print',
				title: 'Listado de importación al día {% now "DATE_FORMAT" %}',
				exportOptions: {
					columns: [0, 1, 2]
				}
			}]
		});
		$("#ReporteExcelImport").on("click", function () {
			tableImport.button('.buttons-excel').trigger();
		});
		$("#ReportePdfImport").on("click", function () {
			tableImport.button('.buttons-pdf').trigger();
		});
		$("#ReportePrintImport").on("click", function () {
			tableImport.button('.buttons-print').trigger();
		});


		/*Para Task*/
		tableTask = $('#dataTableTask').DataTable({
			"language": {
				"url": "{% static 'json/spanish.json' %}"
			},
			"lengthMenu": [7, 14, 20, 25],
			"aaSorting": [],
			buttons: [{
				extend: 'excelHtml5',
				title: 'Listado de tareas al día {% now "DATE_FORMAT" %}',
				exportOptions: {
					columns: [0, 1, 2, 3, 4, 5]
				}
			},
			{
				extend: 'pdfHtml5',
				title: 'Listado de tareas al día {% now "DATE_FORMAT" %}',
				orientation: 'landscape',
				pageSize: 'LETTER',
				download: 'open',
				customize: function (doc) {
					doc.content[1].margin = [10, 0, 10, 0] //left, top, right, bottom
				},
				exportOptions: {
					columns: [0, 1, 2, 3, 4, 5]
				}
			}, {
				extend: 'print',
				title: 'Listado de tareas al día {% now "DATE_FORMAT" %}',
				exportOptions: {
					columns: [0, 1, 2, 3, 4, 5]
				}
			}]
		});
		$("#ReporteExcelTask").on("click", function () {
			tableTask.button('.buttons-excel').trigger();
		});
		$("#ReportePdfTask").on("click", function () {
			tableTask.button('.buttons-pdf').trigger();
		});
		$("#ReportePrintTask").on("click", function () {
			tableTask.button('.buttons-print').trigger();
		});

		/*Para Task Home*/
		tableTaskHome = $('#dataTableTaskHome').DataTable({
			"language": {
				"url": "{% static 'json/spanishTask.json' %}"
			},
			"lengthMenu": [5, 10, 20, 25],
			"aaSorting": []
		});


		/*Para Enviados*/
		tableSend = $('#dataTableSend').DataTable({
			"language": {
				"url": "{% static 'json/spanish.json' %}"
			},
			"lengthMenu": [7, 14, 20, 25],
			"aaSorting": [],
			buttons: [{
				extend: 'excelHtml5',
				title: 'Listado de correos al día {% now "DATE_FORMAT" %}',
				exportOptions: {
					columns: [0, 1, 2, 3, 4, 5]
				}
			},
			{
				extend: 'pdfHtml5',
				title: 'Listado de correos al día {% now "DATE_FORMAT" %}',
				orientation: 'landscape',
				pageSize: 'LETTER',
				download: 'open',
				customize: function (doc) {
					doc.content[1].margin = [10, 0, 10, 0] //left, top, right, bottom
				},
				exportOptions: {
					columns: [0, 1, 2, 3, 4, 5]
				}
			}, {
				extend: 'print',
				title: 'Listado de correos al día {% now "DATE_FORMAT" %}',
				exportOptions: {
					columns: [0, 1, 2, 3, 4, 5]
				}
			}]
		});
		$("#ReporteExcelSend").on("click", function () {
			tableSend.button('.buttons-excel').trigger();
		});
		$("#ReportePdfSend").on("click", function () {
			tableSend.button('.buttons-pdf').trigger();
		});
		$("#ReportePrintSend").on("click", function () {
			tableSend.button('.buttons-print').trigger();
		});

	});
</script>