{% if timeModal %}
    <script>
        $(document).ready(function () {
            setTimeout(function () { jQuery('#sessionModal').modal({ backdrop: 'static', keyboard: false }); }, {{timeModal}});
        });
    </script>

    <div class="modal fade" id="sessionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header alert-{{request.session.bt_color}}">
                    <h6 class="modal-title" id="exampleModalLabel"><i class="fas fa-info-circle fa-1x"></i> Informaci&oacute;n del sistema</h6>
                </div>
                <div class="modal-body" style="text-align: center;">La sesión actual ha terminado, vuelve a iniciar para continuar</div>
                <div class="modal-footer">
                    <a class="btn btn-{{request.session.bt_color}}" href="/admin/logout/?next=/"><i class="fas fa-check"></i> Aceptar</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}