{% load static %}

<nav class="navbar navbar-expand navbar-light bg-{{request.session.bg_color}} topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <!-- Topbar Search -->
  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="{% url 'buscarNombre' %}" method="POST">{% csrf_token %}
    <div class="input-group">
      <input type="text" class="form-control bg-light border-0 small" id="txtsearch" name="txtsearch" placeholder="Buscar paciente..." aria-label="Search" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-{{request.session.bt_color}}" type="submit">
          <i class="fas fa-search fa-sm"></i>
        </button>
      </div>
    </div>
  </form>

  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">

    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
    <li class="nav-item dropdown no-arrow d-sm-none">
      <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-search fa-fw"></i>
      </a>
      <!-- Dropdown - Messages -->
      <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
        <form class="form-inline mr-auto w-100 navbar-search">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar por..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </li>

    <!-- Nav Item - Alerts -->
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-share fa-fw text-{{request.session.fg_color}}"></i>
        <!-- Counter - Alerts -->
        <span class="badge badge-danger badge-counter"></span>
      </a>
      <!-- Dropdown - Alerts -->
      <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header bg-{{request.session.bg_color}} text-{{request.session.fg_color}}" style="border:0px;">
          Acceso r&aacute;pido
        </h6>
        <a class="dropdown-item d-flex align-items-center" href="{% url 'buscarId' request.session.last_row %}">
          <div class="mr-3">
            <div class="icon-circle bg-{{request.session.bt_color}}">
              <i class="fas fa-address-card text-white"></i>
            </div>
          </div>
          <div>
            <div class="small text-gray-500">{% now 'DATETIME_FORMAT' %}</div>
            Ver los datos del &uacute;ltimo paciente
          </div>
        </a>
        <a class="dropdown-item d-flex align-items-center" href="{% url 'altaPaciente' %}">
          <div class="mr-3">
            <div class="icon-circle bg-{{request.session.bt_color}}">
              <i class="fas fa-plus text-white"></i>
            </div>
          </div>
          <div>
            <div class="small text-gray-500"></div>
            Dar de alta un nuevo paciente
          </div>
        </a>
        <a class="dropdown-item d-flex align-items-center" href="{% url 'contactoPaciente' %}">
          <div class="mr-3">
            <div class="icon-circle bg-{{request.session.bt_color}}">
              <i class="fas fa-envelope text-white"></i>
            </div>
          </div>
          <div>
            <div class="small text-gray-500"></div>
              Enviar receta por correo a paciente
          </div>
        </a>
        <a class="dropdown-item d-flex align-items-center" href="{% url 'buscarPaciente' %}">
          <div class="mr-3">
            <div class="icon-circle bg-{{request.session.bt_color}}">
              <i class="fas fa-search text-white"></i>
            </div>
          </div>
          <div>
            <div class="small text-gray-500"></div>
            Buscar datos del paciente
          </div>
        </a>
        <a class="dropdown-item d-flex align-items-center" href="{% url 'listarPaciente' %}">
          <div class="mr-3">
            <div class="icon-circle bg-{{request.session.bt_color}}">
              <i class="fas fa-list-ul text-white"></i>
            </div>
          </div>
          <div>
            <div class="small text-gray-500"></div>
            Ir a lista de pacientes
          </div>
        </a>
        <!--a class="dropdown-item text-center small text-gray-500" href="#">Mostrar todas los avisos</a-->
      </div>
    </li>

    <!-- Nav Item - Messages -->
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-envelope fa-fw text-{{request.session.fg_color}}"></i>
        <!-- Counter - Messages -->
        <span class="badge badge-danger badge-counter">21+</span>
      </a>
      <!-- Dropdown - Messages -->
      <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
        <h6 class="dropdown-header bg-{{request.session.bg_color}} text-{{request.session.fg_color}}" style="border:0px;">
          Mensajes sin leer
        </h6>
        <a class="dropdown-item d-flex align-items-center" href="#">
          <div class="dropdown-list-image mr-3">
            <img class="rounded-circle" src="{% static 'icon/icon-user-64.png' %}" alt="">
            <div class="status-indicator bg-success"></div>
          </div>
          <div class="font-weight-bold">
            <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
            <div class="small text-gray-500">Emily Fowler · 58m</div>
          </div>
        </a>
        <a class="dropdown-item d-flex align-items-center" href="#">
          <div class="dropdown-list-image mr-3">
            <img class="rounded-circle" src="{% static 'icon/icon-user-64.png' %}" alt="">
            <div class="status-indicator"></div>
          </div>
          <div>
            <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
            <div class="small text-gray-500">Jae Chun · 1d</div>
          </div>
        </a>
        <a class="dropdown-item d-flex align-items-center" href="#">
          <div class="dropdown-list-image mr-3">
            <img class="rounded-circle" src="{% static 'icon/icon-user-64.png' %}" alt="">
            <div class="status-indicator bg-warning"></div>
          </div>
          <div>
            <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
            <div class="small text-gray-500">Morgan Alvarez · 2d</div>
          </div>
        </a>
        <a class="dropdown-item d-flex align-items-center" href="#">
          <div class="dropdown-list-image mr-3">
            <img class="rounded-circle" src="{% static 'icon/icon-user-64.png' %}" alt="">
            <div class="status-indicator bg-success"></div>
          </div>
          <div>
            <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
            <div class="small text-gray-500">Chicken the Dog · 2w</div>
          </div>
        </a>
        <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
      </div>
    </li>

    <div class="topbar-divider d-none d-sm-block"></div>

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mr-2 d-none d-lg-inline text-{{request.session.fg_color}} small">{% firstof user.get_full_name user.get_username.upper %}</span>
        <img class="img-profile rounded-circle" src="{% static 'icon/icon-user-64.png' %}">
      </a>
      <!-- Dropdown - User Information -->
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
        {% if user.get_username == "admin" %}
        <a class="dropdown-item" href="{% url 'admin:auth_user_change' user.id %}">
          <i class="fas fa-user fa-sm fa-fw mr-2"></i>
          Perfil
        </a>    
        {% endif %}
        <a class="dropdown-item" href="{% url 'admin:password_change' %}">
          <i class="fas fa-key fa-sm fa-fw mr-2"></i>
          Password
        </a>
        {% if perms.admin.view_logentry %}
          <a class="dropdown-item" href="{% url 'admin:admin_logentry_changelist' %}?user__id__exact={{user.id}}">
            <i class="fas fa-list-ul fa-sm fa-fw mr-2"></i>
            Hist&oacute;rico
          </a>
        {% endif %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
          Salir
        </a>
      </div>
    </li>

  </ul>

</nav>


<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Aviso de sistema</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">¿Est&aacute; seguro de terminar la sesi&oacute;n actual?</div>
      <div class="modal-footer">
        <button class="btn btn-{{request.session.bt_color}}" type="button" data-dismiss="modal">Cancelar</button>
        <a class="btn btn-{{request.session.bt_color}}" href="/admin/logout/">Aceptar</a>
      </div>
    </div>
  </div>
</div>