{% extends "extends.html" %}

{% block title %} Listado de direcciones {%endblock%}
{% block titlepage %}  {%endblock%}



{% block report %}

{% endblock %}


{% block body %}

{% if listaDireccion %}

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-gray-200">
        <h6 class="m-0 font-weight-bold text-{{request.session.bt_color}}">
            <div class="col-sm-12"><center>Registros de direcciones</center></div>
            {% if listaDireccion %}
            <div style="float: right;margin-top: -10px;">
                <a style="border-radius: 10rem;" href="#" id="ReportePrintAdress"
                    class="d-none d-sm-inline-block btn btn-sm btn-{{request.session.bt_color}} shadow-sm"><i
                        class="fas fa-print"></i> </a>
            
                <a style="border-radius: 10rem;" href="#" id="ReporteExcelAdress"
                    class="d-none d-sm-inline-block btn btn-sm btn-{{request.session.bt_color}} shadow-sm"><i
                        class="fas fa-file-excel"></i> </a>
            
                <a style="border-radius: 10rem;" href="#" id="ReportePdfAdress"
                    class="d-none d-sm-inline-block btn btn-sm btn-{{request.session.bt_color}} shadow-sm"><i
                        class="fas fa-file-pdf"></i> </a>
            </div>
            {% endif %}
        </h6>
    </div>
    <div class="card-body bg-gray-200">
        <div class="table-responsive">
            <table class="table table-striped table-hover webtooth" id="dataTableAdress" width="100%" cellspacing="0">
                <thead class="bg-gradient-light">
                    <tr>
                        <th>Expediente</th>
                        <th>C&oacute;digo postal</th>
                        <th>Ciudad</th>
                        <th>Estado</th>
                        <th>Calle</th>
                        <th>N&uacute;mero exterior</th>
                        <th>N&uacute;mero interior</th>
                        <th>Fecha actualizaci&oacute;n</th>
                        {% if user.get_username == "admin" %}
                        <th>Subido</th>
                        {% endif %}
                    </tr>
                </thead>
                <tfoot>
            <!--tr>
	          <th>N&uacute;m Expediente</th>
	          <th>Nombre</th>
	          <th>Apellido Paterno</th>
	          <th>Apellido Materno</th>
	          <th>Correo Electr&oacute;nico</th>
	          <th>&Uacute;ltima actualizaci&oacute;n</th>
	        </tr-->
                </tfoot>
                <tbody>
                    {% for direccion in listaDireccion %}
                    <tr>
                        <td><b><a href="{% url 'buscarId' direccion.patient.id %}" class="text-{{request.session.bt_color}}">{{direccion.patient.numexp|upper}}</a></b></td>
                        <td>{{direccion.cp}}</td>
                        <td>{{direccion.ciudad}}</td>
                        <td>{{direccion.estado}}</td>
                        <td>{{direccion.calle}}</td>
                        <td>{{direccion.numeroExt}}</td>
                        <td>{{direccion.numeroInt}}</td>
                        <td style="text-align: center;">{{direccion.patient.fechaUpdate}}</td>
                        {% if user.get_username == "admin" %}
                        <td>{{direccion.userName}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% else %}
<div class="card-header py-3">
    <h6 style="text-align: center;" class="m-0 font-weight-bold text-{{request.session.bt_color}}"> <i class="fas fa-info-circle"></i> No hay ningún registro en la base de datos actual</h6>
</div>
</br>
<div class="col-sm-2" style="margin: 0 auto;">
    <a class="btn btn-{{request.session.bt_color}} btn-user btn-block" href="{% url 'home' %}"
        role="button"><i class="fa fa-arrow-left"></i> Regresar</a>
</div>
{% endif %}


{% endblock %}