{% extends "home/body.html" %}

{% block title %} Registro de paciente {%endblock%}
{% block titlepage %} Registro de paciente <div style="text-align: center;"><hr style="margin: 5 auto;"><b><i class="fas fa-plus"></i></b></div> {%endblock%}

{% block body %}

{% if form.errors %}
{% for field in form %}
{% if field.errors %}
<strong style="color:red;">{{ field.errors }}</strong>
{% endif %}
{% endfor %}
{% endif %}

{% if formAdress.errors %}
{% for field in formAdress %}
{% if field.errors %}
<strong style="color:red;">{{ field.errors }}</strong>
{% endif %}
{% endfor %}
{% endif %}

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active text-{{request.session.bt_color}}" id="nav-register-tab" data-toggle="tab" href="#registro" role="tab"
            aria-controls="nav-home" aria-selected="true"><i class="fas fa-user fa-1x"></i> Alta de paciente</a>
        <a class="nav-item nav-link text-{{request.session.bt_color}}" id="nav-help-tab" data-toggle="tab" href="#ayuda" role="tab"
            aria-controls="nav-profile" aria-selected="false"><i class="fas fa-info-circle fa-1x"></i> Ayuda</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="registro" role="tabpanel" aria-labelledby="nav-register-tab">
        <div style="margin-top: 20px; width: 98%; margin-left: 5px;margin-right: 20px;">

            <form class="user" action="{% url 'altaPaciente' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}

               
                <div class="form-group row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-2">
                        <div class="input-group">
                            {{form.fechaNacimiento}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fa fa-birthday-cake"></i></div>
                            </div>
                        </div>
                    </div>
                    </br></br>
                    <div class="col-sm-2">
                        <div class="input-group">
                            {{form.fechaAlta}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
                            </div>
                        </div>
                    </div>
                    </br></br>
                    <div class="col-sm-2">
                        <div class="input-group">
                            {{form.fechaUpdate}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
               

                <div class="form-group row">
                    <div class="col-sm-4">

                        <div class="input-group">
                            {{form.nombre}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-keyboard"></i></div>
                            </div>
                        </div>

                    </div>
                </br></br>
                    <div class="col-sm-4">

                        <div class="input-group">
                            {{form.apellidoPaterno}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-keyboard"></i></div>
                            </div>
                        </div>

                    </div>
                </br></br>
                    <div class="col-sm-4">

                        <div class="input-group">
                            {{form.apellidoMaterno}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-keyboard"></i></div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4">

                        <div class="input-group">
                            {{form.rfc}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-keyboard"></i></div>
                            </div>
                        </div>

                    </div>
                </br></br>
                    <div class="col-sm-4">

                        <div class="input-group">
                            {{form.email}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-envelope"></i></div>
                            </div>
                        </div>

                    </div>
                </br></br>
                    <div class="col-sm-4">

                        <div class="input-group">
                            {{form.telefono}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-phone"></i></div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4">

                        <div class="input-group">
                            {{formAdress.calle}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-map-marked-alt"></i></div>
                            </div>
                        </div>

                    </div>
                </br></br>
                    <div class="col-sm-4">

                        <div class="input-group">
                            {{formAdress.numeroExt}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-map-marked-alt"></i></div>
                            </div>
                        </div>

                    </div>
                </br></br>
                    <div class="col-sm-4">

                        <div class="input-group">
                            {{formAdress.numeroInt}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-map-marked-alt"></i></div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4">

                        <div class="input-group">
                            {{formAdress.cp}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fab fa-usps"></i></div>
                            </div>
                        </div>

                    </div>
                </br></br>
                    <div class="col-sm-4">

                        <div class="input-group">
                            {{formAdress.ciudad}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-city"></i></div>
                            </div>
                        </div>

                    </div>
                    </br></br>
                    <div class="col-sm-2">
                        {{formAdress.estado}}
                    </div>
                </br></br>
                    <div class="col-sm-2">
                        {{form.sexo}}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4">
                        <div class="input-group">
                            {{form.ocupacion}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-chalkboard-teacher"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        
                    </div>
                </div>

                <br>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <i class="fas fa-user fa-1x text-gray-300"></i> Foto del paciente: {{form.foto}}
                    </div>

                    <div class="col-sm-2">
                    </div>
                    </br>

                    <div class="col-sm-2">
                        <button type="reset" class="btn btn-{{request.session.bt_color}} btn-user btn-block"><i
                                class="fa fa-eraser"></i> Limpiar</button>
                    </div>
                    </br></br>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-{{request.session.bt_color}} btn-user btn-block"><i
                                class="fa fa-check"></i> Guardar</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div class="tab-pane fade" id="ayuda" role="tabpanel" aria-labelledby="nav-help-tab">
        <div style="margin-top: 20px; width: 98%; margin-left: 10px;margin-right: 20px;">

            <p style="text-align: justify;">
                <i class="fas fa-info-circle fa-1x"></i> Desde este apartado podr&aacute;s registrar nuevos pacientes al sistema.
            </p>

        </div>
    </div>

</div>

{% load static %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $(function () {
        $("input[name='telefono']").on('input', function (e) {
            $(this).val($(this).val().replace(/[^0-9]/g, ''));
        });
        $("input[name='cp']").on('input', function (e) {
            $(this).val($(this).val().replace(/[^0-9]/g, ''));
        });

       /* $("#id_estado").select2({});
        $('form').on('reset', function () {
             $('#id_estado').select2('val', 0);
        });

         $("#id_sexo").select2({});
         $('form').on('reset', function () {
            $('#id_sexo').select2('val', 0);
        });*/

        $("#id_fechaAlta").prop("disabled", '');
        $("#id_fechaUpdate").prop("disabled", '');
    });
</script>
{% endblock %}