{% extends "extends.html" %}

{% block title %} B&uacute;squeda de pacientes {%endblock%}
{% block titlepage %} B&uacute;squeda de pacientes <div style="text-align: center;">
    <hr style="margin: 5 auto;"><b><i class="fas fa-search"></i></b>
</div> {%endblock%}

{% block body %} 

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active text-{{request.session.bt_color}}" id="nav-home-tab" data-toggle="tab" href="#buscar" role="tab" aria-controls="nav-home" aria-selected="true"> <i class="fas fa-search fa-1x"></i> Buscar</a>
        <a class="nav-item nav-link text-{{request.session.bt_color}}" id="nav-profile-tab" data-toggle="tab" href="#ayuda" role="tab" aria-controls="nav-profile" aria-selected="false"> <i class="fas fa-info-circle fa-1x"></i> Ayuda</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="buscar" role="tabpanel" aria-labelledby="nav-home-tab">
        
        <div style="margin-top: 20px; width: 98%; margin-left: 10px;margin-right: 20px;">
        
        <form class="user" action="{% url 'buscarNombre' %}" method="POST">{% csrf_token %}
            <div class="form-group row">
                <div class="col-sm-4">

                    <div class="input-group">
                        <input type="text" class="form-control form-control-user" id="name" name="name" placeholder="Nombre(s)"
                        data-placement="top" data-trigger="hover" rel="popover" data-original-title="Nombre(s)" data-content="Nombre(s)">
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fas fa-keyboard"></i></div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4">

                    <div class="input-group">
                        <input type="text" class="form-control form-control-user" id="apellidos" name="apellidos" placeholder="Apellido(s)"
                        data-placement="top" data-trigger="hover" rel="popover" data-original-title="Apellido(s)" data-content="Apellido(s)">
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fas fa-keyboard"></i></div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4">
                    
                    <div class="input-group">
                        <input type="text" class="form-control form-control-user" id="numexp" name="numexp" placeholder="Número de expediente"
                        data-placement="top" data-trigger="hover" rel="popover" data-original-title="Número de expediente" data-content="Número de expediente">
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fas fa-keyboard"></i></div>
                        </div>
                    </div>

                </div>
            </div>
        
            <div class="form-group row">
                <div class="col-sm-8">
        
                </div>
                <div class="col-sm-2">
                    <button type="reset" class="btn btn-{{request.session.bt_color}} btn-user btn-block"><i
                            class="fa fa-eraser"></i> Limpiar</button>
                </div>
                </br></br>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-{{request.session.bt_color}} btn-user btn-block"><i
                            class="fa fa-search"></i> Buscar</button>
                </div>
            </div>
        </form>

        </div>

    </div>

    <div class="tab-pane fade" id="ayuda" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div style="margin-top: 20px; width: 98%; margin-left: 10px;margin-right: 20px;">
            <p style="text-align: justify;">
                <i class="fas fa-info-circle fa-1x"></i> Desde este apartado podr&aacute;s realizar b&uacute;squedas por nombre, apellidos o n&uacute;mero de expediente. Solo da clic en el bot&oacute;n de buscar.
            </p>

        </div>
    </div>
    
</div>



{% endblock %}

