{% extends "extends.html" %}

{% block title %} Datos del paciente {%endblock%}
{% block titlepage %} N&uacute;mero de expediente {% if delPatient %}<i class="fas fa-trash"></i>{% else %}<i class="fas fa-check-circle"></i>{% endif %}<div style="text-align: center;"><hr style="margin: 5 auto;"><b>{{ expediente }}</b></div> {%endblock%}

{% block body %}

{% if form %}

{% if form.errors %}
{% for field in form %}
{% if field.errors %}
<strong style="color:red;">{{ field.errors }}</strong>
{% endif %}
{% endfor %}
{% endif %}

{% if formAdress.errors %}
{% for field in formAdress %}
{% if field.errors %}
<strong style="color:red;">{{ field.errors }}</strong>
{% endif %}
{% endfor %}
{% endif %}

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active text-{{request.session.bt_color}}" id="nav-register-tab" data-toggle="tab" href="#datos-registro" role="tab"
            aria-controls="nav-home" aria-selected="true"><i class="fas fa-user fa-1x"></i> Datos personales</a>
        <a class="nav-item nav-link text-{{request.session.bt_color}}" id="nav-help-tab" data-toggle="tab" href="#ayuda" role="tab"
            aria-controls="nav-profile" aria-selected="false"><i class="fas fa-notes-medical fa-1x"></i> Datos cl&iacute;nicos</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="datos-registro" role="tabpanel" aria-labelledby="nav-register-tab">
        <div style="margin-top: 20px; width: 95%; margin-left: 30px;margin-right: 20px;">

            <form class="user" action="{% url 'actualizarPaciente' id %}" method="POST" enctype="multipart/form-data">{% csrf_token %}

                <div class="form-group row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-5"></div>
                    <div class="col-sm-2">
                        <div class="input-group">
                            {{form.fechaAlta}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
              

                <div class="form-group row">
                    <div class="col-sm-4">
                        <div class="input-group">
                            {{form.nombre}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-keyboard"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            {{form.apellidoPaterno}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-keyboard"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            {{form.apellidoMaterno}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-keyboard"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4">
                        <div class="input-group">
                            {{form.rfc}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-keyboard"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            {{form.email}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-envelope-square"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            {{form.telefono}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-phone"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4">
                        <div class="input-group">
                            {{formAdress.calle}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-map-marked-alt"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            {{formAdress.numeroExt}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-map-marked-alt"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            {{formAdress.numeroInt}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-map-marked-alt"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4">
                        <div class="input-group">
                            {{formAdress.cp}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fab fa-usps"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            {{formAdress.ciudad}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-city"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        {{formAdress.estado}}
                    </div>
                    <div class="col-sm-2">
                        {{form.sexo}}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-4">
                
                        <div class="input-group">
                            {{form.ocupacion}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-chalkboard-teacher"></i></div>
                            </div>
                        </div>
                
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <div class="col-sm-10">
                        {% if form.foto.value %}
                        <a target="_blank" href="{{ form.foto.value.url }}">Foto del paciente: </a>
                        {% else %}
                        Foto del paciente:
                        {% endif %}

                        {% if form.foto.value %}
                        <img style="height: 50px;border-radius: 55px;" src="{{form.foto.value.url}}" />
                        </br></br>
                        {% else %}
                        <i class="fas fa-user fa-2x text-gray-300"></i>
                        {% endif %}
                        {{form.foto}}
                    </div>
                    <div class="col-sm-2">
                        {% if not delPatient %}
                        <div style="float: right;">
                            {{form.activo}}
                            {% if form.activo.value %}
                            <span class="btn btn-success btn-sm" style="font-size: 12px;"> Activo </span>
                            {% else %}
                            <span class="btn btn-warning btn-sm" style="font-size: 12px;"> Inactivo </span>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>

                {% if not delPatient %}
                <div class="form-group row">

                    <div class="col-sm-6">
                        {{form.numexp}}
                    </div>
                    <div class="col-sm-2">
                        <button id="modbutton" type="button" class="btn btn-danger btn-user btn-block" href="#" data-toggle="modal"
                            data-target="#modifyModal" role="button"><i class="fa fa-pen"></i> Modificar</button>
                    </div>
                    <div class="col-sm-2">
                        <button id="delbutton" type="button" class="btn btn-danger btn-user btn-block" href="#" data-toggle="modal"
                            data-target="#deleteModal" role="button"><i class="fa fa-trash"></i> Eliminar</button>
                    </div>
                    <div class="col-sm-2">
                        <button id="update" disabled type="submit"
                            class="btn btn-{{request.session.bt_color}} btn-user btn-block"><i class="fa fa-check"></i>
                            Actualizar</button>
                    </div>
                </div>
                {% endif %}
            </form>

            <!-- Logout Modal-->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-info-circle fa-1x"></i> Aviso de sistema</h5>
                        </div>
                        <div class="modal-body" style="text-align: justify;">¿Est&aacute; seguro de eliminar el registro actual que contiene los
                            siguientes datos? </br></br>Nombre: <b>{{form.nombre.value}} {{form.apellidoPaterno.value}}
                            {{form.apellidoMaterno.value}}</b></br>Correo: <b>{{form.email.value}}</b></br></br><b>Nota: Los datos ser&aacute;n bloqueados en sistema una vez eliminado el registro.</b></div>
                        <div class="modal-footer">
                            <button class="btn btn-{{request.session.bt_color}}" type="button"
                                data-dismiss="modal" style="border-radius: 10rem;"><i class="fas fa-times"></i> Cancelar</button>
                            <a class="btn btn-{{request.session.bt_color}}"
                                href="{% url 'eliminarPaciente' id %}" style="border-radius: 10rem;"><i class="fas fa-check"></i> Aceptar</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Logout Modal-->
            <div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-info-circle fa-1x"></i> Aviso de sistema</h5>
                        </div>
                        <div class="modal-body">¿Est&aacute; seguro de modificar el registro actual que contiene los
                            siguientes
                            datos? </br></br>Nombre: <b>{{form.nombre.value}} {{form.apellidoPaterno.value}}
                            {{form.apellidoMaterno.value}}</b></br>Correo: <b>{{form.email.value}}</b></div>
                        <div class="modal-footer">
                            <button class="btn btn-{{request.session.bt_color}}" type="button"
                                data-dismiss="modal" style="border-radius: 10rem;"><i class="fas fa-times"></i> Cancelar</button>
                            <button id="modidy" class="btn btn-{{request.session.bt_color}}" type="button"
                                data-dismiss="modal" style="border-radius: 10rem;"><i class="fas fa-check"></i> Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="tab-pane fade" id="ayuda" role="tabpanel" aria-labelledby="nav-help-tab">
        <div style="margin-top: 20px; width: 95%; margin-left: 30px;margin-right: 20px;">

            <p style="text-align: justify;">
                Desde este apartado podr&aacute;s visualizar los datos cl&iacute;nicos del paciente.
            </p>

        </div>
    </div>

</div>

{% load static %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
    $(function () {
        $("input[name='telefono']").on('input', function (e) {
            $(this).val($(this).val().replace(/[^0-9]/g, ''));
        });

        $("#id_nombre").prop("disabled", true);
        $("#id_apellidoPaterno").prop("disabled", true);
        $("#id_apellidoMaterno").prop("disabled", true);
        $("#id_rfc").prop("disabled", true);
        $("#id_email").prop("disabled", true);
        $("#id_telefono").prop("disabled", true);
        $("#id_calle").prop("disabled", true);
        $("#id_numeroExt").prop("disabled", true);
        $("#id_numeroInt").prop("disabled", true);
        $("#id_cp").prop("disabled", true);
        $("#id_ciudad").prop("disabled", true);
        $("#id_estado").prop("disabled", true);
        $("#id_sexo").prop("disabled", true);
        $("#id_foto").prop("disabled", true);
        $("#id_activo").prop("disabled", true);
        $("#update").prop("disabled", true);
        $("#id_ocupacion").prop("disabled", true);

        valDateAdd = $("#id_fechaAlta").val().split('.')[0];
        $("#id_fechaAlta").val(valDateAdd);
        
        
        
        $("#modidy").click(function () {
            $("#modbutton").prop("disabled", true);
            $("#delbutton").prop("disabled", true);
            $("#id_nombre").prop("disabled", false);
            $("#id_apellidoPaterno").prop("disabled", false);
            $("#id_apellidoMaterno").prop("disabled", false);
            $("#id_rfc").prop("disabled", false);
            $("#id_email").prop("disabled", false);
            $("#id_telefono").prop("disabled", false);
            $("#id_calle").prop("disabled", false);
            $("#id_numeroExt").prop("disabled", false);
            $("#id_numeroInt").prop("disabled", false);
            $("#id_cp").prop("disabled", false);
            $("#id_ciudad").prop("disabled", false);
            $("#id_estado").prop("disabled", false);
            $("#id_sexo").prop("disabled", false);
            $("#id_foto").prop("disabled", false);
            $("#id_activo").prop("disabled", false);
            $("#update").prop("disabled", false);
            $("#id_ocupacion").prop("disabled", false);
            $("#id_estado").select2({});
            $("#id_sexo").select2({});
            
        });
        
    });
</script>

{% else %}
    <div class="card-header py-3">
        <h6 style="text-align: center;" class="m-0 font-weight-bold text-{{request.session.bt_color}}"> <i class="fas fa-info-circle"></i> No existe ning&uacute;n registro con los datos recibidos</h6>
    </div>
    </br>
    <div class="col-sm-2" style="margin: 0 auto;text-align: center;">
        <a style="border-radius: 10rem;" class="btn btn-{{request.session.bt_color}}" href="{% url 'listarPaciente' %}" role="button"><i class="fa fa-arrow-left"></i> Regresar</a>
    </div>
{% endif %}
{% endblock %}