{% extends "home/body.html" %}

{% block title %} Estudios  {%endblock%}
{% block titlepage %} Registro de estudios <div style="text-align: center;">
  <hr style="margin: 5 auto;"><b><i class="fas fa-tasks"></i></b>
</div>{%endblock%}

{% block body %} 

    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
              <strong style="color:red;">{{ field.errors }}</strong>
            {% endif %}
        {% endfor %}          
    {% endif %}

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link text-{{request.session.bt_color}}" id="nav-study-tab" data-toggle="tab" href="#estudio" role="tab"
      aria-controls="nav-study" aria-selected="true"> <i class="fas fa-plus fa-1x"></i> Nuevo estudio</a>
    <a class="nav-item nav-link active text-{{request.session.bt_color}}" id="nav-listStudy-tab" data-toggle="tab" href="#listStudy" role="tab" 
      aria-controls="nav-study" aria-selected="true"> <i class="fas fa-list-ol fa-1x"></i> Estudios</a>
    <a class="nav-item nav-link text-{{request.session.bt_color}}" id="nav-help-study-tab" data-toggle="tab" href="#ayuda" role="tab"
      aria-controls="nav-help-study" aria-selected="false"> <i class="fas fa-info-circle fa-1x"></i> Ayuda</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade" id="estudio" role="tabpanel" aria-labelledby="nav-study-tab">
    <div style="margin-top: 20px; width: 98%; margin-left: 5px;margin-right: 5px;">


      <form class="user" action="{% url 'addStudy' %}" method="POST">{% csrf_token %}
        <div class="form-group row">
          <div class="col-sm-4">
            <div class="input-group">
              <select name="grupo" class="form-control custom-select custom-select-sm" 
              placeholder="Grupo" data-placement="top" data-trigger="hover" rel="popover" 
              data-original-title="Grupo" data-content="Grupo" maxlength="50" id="id_grupo" required>
                <option value="" selected="">Selecciona un grupo</option>
                {% for opt in selectGrp %}
                <option value="{{opt.id}}">{{opt.nombre}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <br/><br/>
          <div class="col-sm-4">
            <div class="input-group">
              <input type="text" name="nombre_estudio_add" class="form-control form-control-user" 
                                            placeholder="Nombre del estudio (*)" data-placement="top" data-trigger="hover" 
                                            rel="popover" data-original-title="Nombre del estudio (*)" data-content="Nombre del estudio (*)" 
                                            maxlength="50" required id="nombre_estudio_add">
              <div class="input-group-append">
                <div class="input-group-text"><i class="fas fa-keyboard"></i></div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6"></div>
          <div class="col-sm-3">
            <button type="reset" class="btn btn-{{request.session.bt_color}} btn-user btn-block"><i
                class="fa fa-eraser"></i> Limpiar</button>
          </div>
          </br></br>
          <div class="col-sm-3">
            <button type="submit" class="btn btn-{{request.session.bt_color}} btn-user btn-block"><i
                class="fa fa-check"></i> Agregar</button>
          </div>
        </div>
      </form>



    </div>
  </div>

  <div class="tab-pane fade show active" id="listStudy" role="tabpanel" aria-labelledby="nav-listStudy-tab">
    <div style="margin-top: 20px; width: 98%; margin-left: 5px;margin-right: 10px;">
  
      {% if listadoEstudios %}
      <div class="card shadow mb-4">
        <div class="card-header py-3 bg-gray-200">
          <h6 class="m-0 font-weight-bold text-{{request.session.bt_color}}">
            <div class="col-sm-12">
              <center></center>
            </div>
            {% if listadoEstudios %}
            <div style="float: right;margin-top: -10px;">
              <a style="border-radius: 10rem;" href="#" id="ReportePrintStudy"
                class="d-none d-sm-inline-block btn btn-sm btn-{{request.session.bt_color}} shadow-sm"><i
                  class="fas fa-print"></i> </a>
  
              <a style="border-radius: 10rem;" href="#" id="ReporteExcelStudy"
                class="d-none d-sm-inline-block btn btn-sm btn-{{request.session.bt_color}} shadow-sm"><i
                  class="fas fa-file-excel"></i> </a>
  
              <a style="border-radius: 10rem;" href="#" id="ReportePdfStudy"
                class="d-none d-sm-inline-block btn btn-sm btn-{{request.session.bt_color}} shadow-sm"><i
                  class="fas fa-file-pdf"></i> </a>
            </div>
            {% endif %}
          </h6>
        </div>
        <div class="card-body bg-gray-200" style="margin-top: -15px;">
          <div class="table-responsive">
            <table class="table table-striped table-hover webtooth" id="dataTableStudy" width="100%" cellspacing="0">
              <thead class="bg-gradient-light">
                <tr style="text-align: center;">
                  <th>Nº</th>
                  <th>Estudio</th>
                  <th>Grupo</th>
                  <th>Fecha actualizaci&oacute;n</th>
                  <th>Subido por</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tfoot>
              </tfoot>
              <tbody>
                {% for item in listadoEstudios %}
                <tr>
                  <td style="text-align: center;width: 100px;">{{item.id}}</td>
                  <td style="">{{item.nombre}}</td>
                  <td style="">{{item.grupo.nombre}}</td>
                  <td style="text-align: center;">{{item.fechaUpdate}}</td>
                  <td style="text-align: center;">{{item.user.first_name}}&nbsp;{{item.user.last_name}}</td>
                  <td style="text-align: center;width: 100px;">
                    <div class="row">
                      <a href="#" href="#" data-toggle="modal" data-target="#editStudy{{item.id}}" role="button"><span class="btn btn-{{request.session.bt_color}} btn-sm" style="font-size: 10px;"> &nbsp;&nbsp;<i class="fa fa-pen"></i>&nbsp;&nbsp; </span></a>
                      &nbsp;&nbsp;<a href="#" href="#" data-toggle="modal" data-target="#deleteStudy{{item.id}}" role="button"><span class="btn btn-danger btn-sm" style="font-size: 10px;"> &nbsp;&nbsp;<i class="fa fa-trash"></i>&nbsp;&nbsp; </span></a>
                    </div>
                  </td>
                </tr>
                <!-- Delete Study Modal-->
                <div class="modal fade" id="deleteStudy{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="modalLabelFile" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header alert-{{request.session.bt_color}}">
                                <h6 class="modal-title" id="modalLabelFile"><i class="fas fa-info-circle fa-1x"></i> Informaci&oacute;n del sistema</h6>                                   
                            </div>
                            <div class="modal-body">¿Est&aacute; seguro de eliminar el registro actual?
                                </br></br>&nbsp;&nbsp;Estudio: <b>{{item.nombre}}</b>
                                <br/><br/>
                                <p style="text-align: justify;">
                                  &nbsp;&nbsp;<i class="fas fa-info-circle fa-1x"></i> Nota: Se borrar&aacute;n todos los registros relacionados a este estudio, esta operaci&oacute;n no se puede revertir.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-{{request.session.bt_color}}" type="button"
                                    data-dismiss="modal" style="border-radius: 10rem;"><i class="fas fa-times"></i> Cancelar</button>
                                <a class="btn btn-{{request.session.bt_color}}" href="{% url 'deleteStudy' item.id %}" style="border-radius: 10rem;"><i class="fas fa-check"></i> Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>

                  <!-- Edit Study Modal-->
                  <div class="modal fade" id="editStudy{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="modalLabelFile" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header alert-{{request.session.bt_color}}">
                                <h6 class="modal-title" id="modalLabelFile"><i class="fas fa-info-circle fa-1x"></i> Informaci&oacute;n del sistema</h6>                                   
                            </div>
                            <form id="form{{item.id}}" name="form{{item.id}}" class="user" method="POST" action="{% url 'editStudy' item.id %}">{% csrf_token %}
                            <div class="modal-body"><b>Favor de indicar el nuevo valor:</b>
                                </br></br> 
                                
                                <div class="input-group">
                                  <input type="text" name="nombre_estudio_{{item.id}}" class="form-control form-control-user" 
                                                                placeholder="Nombre del estudio (*)" data-placement="top" data-trigger="hover" 
                                                                rel="popover" data-original-title="Nombre del estudio (*)" data-content="Nombre del estudio (*)" 
                                                                maxlength="50" required="" id="id_estudio_{{item.id}}" value="{{item.nombre}}">
                                  <div class="input-group-append">
                                    <div class="input-group-text"><i class="fas fa-keyboard"></i></div>
                                  </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button onclick="resetForm('form{{item.id}}')" id="cancelar{{item.id}}" class="btn btn-{{request.session.bt_color}}" type="reset"
                                    data-dismiss="modal" style="border-radius: 10rem;"><i class="fas fa-times"></i> Cancelar</button>
                                <button type="submit" id="enviar{{item.id}}" class="btn btn-{{request.session.bt_color}}" style="border-radius: 10rem;"><i class="fas fa-check"></i> Guardar</button>
                            </div>
                            </form>
                        </div>
                    </div>
                  </div>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% else %}
      <div>
        <h6 style="text-align: center;" class="m-0 font-weight-bold"> <i class="fas fa-info-circle"></i> No hay ningún
          registro en la base de datos actual</h6>
      </div>
      {% endif %}
  
    </div>
  </div>

  <div class="tab-pane fade" id="ayuda" role="tabpanel" aria-labelledby="nav-help-study-tab">
    <div style="margin-top: 20px; width: 98%; margin-left: 10px;margin-right: 20px;">

      <p class="alert alert-{{request.session.bt_color}}" style="text-align: justify;">
        &nbsp;&nbsp;<i class="fas fa-info-circle fa-1x"></i> Desde este apartado podr&aacute;s agregar nuevos estudios al sistema.
      </p>
    </div>
  </div>

</div>

{% load static %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
    function resetForm(form){
      $('#'+form)[0].reset();
    }
</script>
{% endblock %}
