{% extends "extends.html" %}

{% block title %} Enviar receta por correo a paciente {%endblock%}
{% block titlepage %} Enviar receta por correo a paciente {%endblock%}

{% block body %} 

    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
              <strong style="color:red;">{{ field.errors }}</strong>
            {% endif %}
        {% endfor %}          
    {% endif %}

    <form class="user" action="{% url 'contactoPaciente' %}" method="POST">{% csrf_token %}
        <div class="form-group row">
          <div class="col-sm-4">
            {{form.nombre}}
          </div>
          <div class="col-sm-4">           
            {{form.asunto}}
          </div>
          <div class="col-sm-4">
            {{form.email}}
          </div>
        </div>
        <div class="form-group">
           {{form.mensaje}}
        </div>

        <div class="form-group row">
         	<div class="col-sm-6"></div>
          <div class="col-sm-3">
            <button type="reset" class="btn btn-{{request.session.bt_color}} btn-user btn-block"><i class="fa fa-eraser"></i>  Limpiar</button>
          </div>
         	<div class="col-sm-3">
         		<button type="submit" class="btn btn-{{request.session.bt_color}} btn-user btn-block"><i class="fa fa-check"></i> Enviar</button>
         	</div>
    	 </div>
      </form>

{% endblock %}