{% extends "home/body.html" %}

{% load static %}

{% block title %} Webtooth | No tienes permisos {%endblock%}
{% block titlepage %} No tienes los permisos suficientes <div style="text-align: center;">
	<hr style="margin: 5 auto;"><b><i class="fas fa-user-lock"></i></b>
</div> {%endblock%}

{% block body %} 



	<div style="text-align: center;margin-top: 50px;">
		<br>
		<br>
		<h6 class="m-0 font-weight-bold text-{{request.session.bt_color}}" style="text-align: center;">¡Contacta con un
			administrador del sistema para que te habiliten &eacute;sta funcionalidad!</h6>
		<img src="{% static 'img/stop.png' %}" style="height: 350px;">
	</div>
	
{% endblock %}