{% extends "home/body.html" %}

{% load static %}

{% block title %} WebTooth | No tienes permisos {%endblock%}
{% block titlepage %} No tienes los permisos suficientes {%endblock%}

{% block body %} 

	<div class="card-header py-3">
  		<h6 class="m-0 font-weight-bold text-primary">Contacta con un administrador del sistema para que te habiliten &eacute;sta funcionalidad</h6>
	</div>

	<div style="text-align: center;margin-top: 50px;">
		<img src="{% static 'img/stop.png' %}" style="height: 350px;">
	</div>
	
{% endblock %}