{% extends "extends.html" %}


{% block title %} 
	{% if exp %}
		El registro se ha eliminado correctamente
	{% else %}
		Datos no existen en los registros
	{% endif %}
{%endblock%}

{% block titlepage %} 
	{% if exp %}
		El registro se ha eliminado correctamente
	{% else %}
		Datos no existen en los registros
	{% endif %}
{%endblock%}



{% block body %}

{% if exp %}

    <div class="card-header py-3">
        <h6 style="text-align: center;" class="m-0 font-weight-bold text-{{request.session.bt_color}}"> <i class="fas fa-info-circle"></i> Se ha eliminado correctamente el paciente con número de expediente: <b>{{exp|upper}}</b></h6>
    </div>
    </br>
    <div class="col-sm-2" style="margin: 0 auto;text-align: center;">
        <a style="border-radius: 10rem;" class="btn btn-{{request.session.bt_color}}" href="{% url 'listarPaciente' %}" role="button"><i class="fa fa-arrow-left"></i> Regresar</a>
    </div>

 {% else %}

    <div class="card-header py-3">
        <h6 style="text-align: center;" class="m-0 font-weight-bold text-{{request.session.bt_color}}"> <i class="fas fa-info-circle"></i> No existe ning&uacute;n registro con los datos recibidos</h6>
    </div>
    </br>
    <div class="col-sm-2" style="margin: 0 auto;text-align: center;">
        <a style="border-radius: 10rem;" class="btn btn-{{request.session.bt_color}}" href="{% url 'listarPaciente' %}" role="button"><i class="fa fa-arrow-left"></i> Regresar</a>
    </div>

 {% endif %}

{% endblock %}