{% extends "extends.html" %}

{% load static %}

{% block title %} Importar pacientes {%endblock%}
{% block titlepage %} Importar pacientes <div style="text-align: center;"><hr style="margin: 5 auto;"><b><i class="fas fa-upload"></i></b></div> {%endblock%}

{% block body %}

{% if form.errors %}
{% for field in form %}
{% if field.errors %}
<strong style="color:red;">{{ field.errors }}</strong>
{% endif %}
{% endfor %}
{% endif %}

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active text-{{request.session.bt_color}}" id="nav-import-xls-patient-tab" data-toggle="tab"
            href="#importar" role="tab" aria-controls="nav-import-xls-patient"
            aria-selected="true"> <i class="fas fa-upload fa-1x"></i> Importar</a>
        <a class="nav-item nav-link text-{{request.session.bt_color}}" id="nav-help-import-xls-patient-tab" data-toggle="tab"
            href="#ayuda" role="tab" aria-controls="nav-help-import-xls-patient"
            aria-selected="false"> <i class="fas fa-info-circle fa-1x"></i> Ayuda</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="importar" role="tabpanel"
        aria-labelledby="nav-import-xls-patient-tab">
        <div style="margin-top: 20px; width: 95%; margin-left: 30px;margin-right: 20px;">

            <form class="user" action="{% url 'importPatients' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-4">
                        <i class="fas fa-file-excel fa-1x"></i> {{form.path}}
                        
                    </div>
                    <div class="col-sm-2">
                        <button type="reset" class="btn btn-{{request.session.bt_color}} btn-user btn-block"><i class="fa fa-eraser"></i> Limpiar</button>
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-{{request.session.bt_color}} btn-user btn-block"><i class="fa fa-upload"></i> Importar</button>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </form>

        </div>
    </div>

    <div class="tab-pane fade" id="ayuda" role="tabpanel"
        aria-labelledby="nav-help-import-xls-patient-tab">
        <div style="margin-top: 20px; width: 95%; margin-left: 30px;margin-right: 20px;">

            <p style="text-align: justify;">
                <i class="fas fa-info-circle fa-1x"></i> Desde este apartado podr&aacute;s realizar importaciones de ficheros excel que contengan listado de
                pacientes. 
                <div><i class="fas fa-file-excel fa-1x"></i><a class="text-{{request.session.bt_color}}" href="{% static 'import/plantilla-pacientes.xlsx' %}"><b> Descargar plantilla para importar</b></a></div>
            </p>

        </div>
    </div>

</div>

{% endblock %}