{% extends "home/body.html" %}

{% block title %} A&ntilde;adir de archivos {%endblock%}
{% block titlepage %} A&ntilde;adir archivo <div style="text-align: center;">
    <hr style="margin: 5 auto;"><b><i class="fas fa-plus"></i></b>
</div>{%endblock%}

{% block body %}

{% if form.errors %}
{% for field in form %}
{% if field.errors %}
<strong style="color:red;">{{ field.errors }}</strong>
{% endif %}
{% endfor %}
{% endif %}


<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active text-{{request.session.bt_color}}" id="nav-upload-tab" data-toggle="tab" href="#subir-archivo" role="tab"
            aria-controls="nav-home" aria-selected="true"><i class="fas fa-upload fa-1x"></i> Subir ficheros</a>
        <a class="nav-item nav-link text-{{request.session.bt_color}}" id="nav-help-tab" data-toggle="tab" href="#ayuda" role="tab"
            aria-controls="nav-profile" aria-selected="false"><i class="fas fa-info-circle fa-1x"></i> Ayuda</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="subir-archivo" role="tabpanel" aria-labelledby="nav-upload-tab">
        <div style="margin-top: 20px; width: 98%; margin-left: 10px;margin-right: 20px;">

            <form class="user" action="{% url 'altaArchivo' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="form-group row">
                    <div class="col-sm-4">
                        
                        <div class="input-group">
                            {{form.nombre}}
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fas fa-keyboard"></i></div>
                            </div>
                        </div>

                    </div>
                </br></br>
                    <div class="col-sm-8">
                        <i class="fas fa-file fa-1x text-gray-300"></i> {{form.path}}
                    </div>
                </div>
                <div class="form-group row">

                    <div class="col-sm-2">
                        <button type="reset" class="btn btn-{{request.session.bt_color}} btn-user btn-block"><i
                                class="fa fa-eraser"></i> Limpiar</button>
                    </div>
                </br></br>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-{{request.session.bt_color}} btn-user btn-block"><i
                                class="fa fa-check"></i> Guardar</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div class="tab-pane fade" id="ayuda" role="tabpanel" aria-labelledby="nav-help-tab">
        <div style="margin-top: 20px; width: 98%; margin-left: 10px;margin-right: 20px;">

            <p style="text-align: justify;">
                <i class="fas fa-info-circle fa-1x"></i> Desde este apartado podr&aacute;s subir archivos al sistema.
            </p>

        </div>
    </div>

</div>

{% endblock %}