{% load static %}
<link href="{% static 'css/jquery.datetimepicker.min.css' %}" rel="stylesheet" />
<script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $.datetimepicker.setLocale('es');
        $("#id_dateCreate").datetimepicker({
            format: 'Y-m-d H:i',
            validateOnBlur: true,
            minDate: '-1970/01/01',
            maxDate: '+1970/12/31'
        });
    });
</script>