{% load static %}
<link href="{% static 'css/jquery.datetimepicker.min.css' %}" rel="stylesheet" />
<script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $.datetimepicker.setLocale('es');
        $("#id_dateCreate").datetimepicker({
            format: 'd/m/Y H:i',
            validateOnBlur: true,
            minDate: '-1970/01/01',
            maxDate: '+1970/12/31'
        });

        $("#id_dateExecute").datetimepicker({
            format: 'd/m/Y H:i',
            validateOnBlur: true,
            minDate: '-1970/01/01',
            maxDate: '+1970/12/31'
        });

        $("#id_fechaNacimiento").datetimepicker({
            timepicker: false,
            format: 'd/m/Y',
            validateOnBlur: true,
            maxDate: '-1970/01/02'
        });
    });
</script>